
.center table .job { padding-left: 0px; 
		     margin-left: 20px; margin-right: 3em; }

.center table .card { padding-left: 0px; margin-left: 10px; margin-right: 0em; }

ul.card { margin: 0px; padding: .5em; text-align: left; 
	  display: inline-block; }

#below { width: 100%; z-index: 0;  }
#below .left, #below .right {
 clear: none; 
 background: rgba(200, 240, 200, 0.4); 
 width: 14em; 
 position: relative; 
 margin: 0; 
 padding: 0; 
 z-index: 10; 
}

#below .left { float: left; margin-right: -100%; }
#below .right { float: right; margin-left: -100%; }
.ie #below .left, .ie #below .right {
    background: transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66c8f0c8',endColorstr='#66c8f0c8');
    zoom: 1;
}

.pagelinks { font-size: small; float: left; width: 100%; border-bottom: 3px solid #c8b5a6; }
.pagelinks .first { clear: both; float: left; }
.pagelinks .rest { clear: right; float: right; }
.pagelinks a, .pagelinks a:link, .pagelinks a:visited { 
    text-decoration: none; 
    color: #d9e8d9; 
}
.pagelinks a {
    background: #164e14;
    padding: 2px;
    padding-top: 0px;
    border-bottom: 3px solid #c8b5a6;
}
.pagelinks a:visited { text-decoration: none }



ul.icon {
    list-style: none;
    padding 0;
}
ul.icon > li {
    margin-bottom: -.5em;
}
ul.icon > li > a
{
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    text-decoration: none;
    
}
ul.icon > li > a > span.icon,
ul.icon > li > a > span.icon
{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.a-buttons a {
    box-shadow: 1px 2px 3px 4px rgba(0,0,0,.15);
    margin: 1em 0em;
    border-radius: 4px;
}

.hidden {
    visibility: hidden;
}


table:has(#price_estimate) {
    width: 100%;
    border-collapse: collapse;
}
table:has(#price_estimate) tr th,
table:has(#price_estimate) tr td{
    border-bottom: 2px solid #00000050;
}
tr.total {
    padding: 5px;
    margin: 10px;
    background: #00FF0010;
}
tr.total {
    font-weight: bold;
}
#price_estimate > .total {
    border-bottom: 5px double black;
}
#price_estimate tr td:nth-child(1) {
    text-align: left;
}
#price_estimate tr td {
    text-align: right;
}
/*
  brun:
  341a0c
  5b4328
  c88443
  c8b5a6

  grï¿½n:
  164e14
  04b604
  90b690
  d9e8d9
*/
body {
    font-family: tahoma, helvetica, sans-serif;
    background: rgba(186,223,185,0.62);
    color: #341a0c;
}
span.HAVEJAN {
    font-family: 'Maiandra GD', tahoma, helvetica, sans-serif;
    font-weight: bold;
    color: #164e14; 
}
h1 { 
    font-style: normal;
    text-align: center;
    font-size: 300%; 
    color: #164e14; 
    font-family: 'Maiandra GD', tahoma, helvetica, sans-serif;
    padding: 0em;
    margin: 0em;
    clear: both;
}
h2 { 
    text-align: center; 
    padding: 0em;
    margin: 0em;
}
.slogan { font-style: italic; }

#center-img { 
  position: relative;
  width: 400px;
  height: 300px;
}

.job{
    font-size: 80%;
}

.rotate {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* cunning workaround for IE centering bug, thanks to
   http://theodorakis.net/tablecentertest.html */ 
div.center { 
    width: 100%;
    text-align: center; margin: auto;
    margin-left: auto;
    margin-right: auto;
} 
div.center_content {
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
div.left {
    width: 100%;
    text-align: left;
    margin: auto;
    margin-left: 0px;
}
img.center { 
    text-align: center; margin: auto;
    margin-left: auto;
    margin-right: auto;

}
div.center table { margin: 0 auto; text-align: left; }

ul.nomark {
    list-style: none inside;
    margin-left: 0px;
}

img.center {
    display: block;
}
.vcenter {
    display: table-cell;
    vertical-align: middle;
}

a:link, a:visited { 
    text-decoration: none;
    color: #341a0c;
}
.job a:link, .job a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

ul.preview { 
    margin: 0px;
    margin-top: 1em;
    padding: 0px;
    text-align: center;
    list-style: none inside;
    font-weight: bolder;
    display: block;
}
ul.preview li.group_li {
    display: inline-block;
}
/* IE */
html.ie6 ul.preview li.group_li {
    display: inline;
}
html.ie7 ul.preview li.group_li {
    display: inline;
}

ul.selection li:hover { opacity: .5; }

ul.preview li.group_li {
    width: 120px;
    height: 110px;
    margin: 0px 0px;
    padding: 4px;
    text-align: center;
    border: 1px solid;
    border-color: #aaa;
    background: #f5f5f5;
}
ul.preview li.group_li a {
  padding: 0;
  margin: 0;
  float: left;
}

li.group_li a img { border: none; }

.hardbreak
{
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.invisible {
    display: none;
}

hr { clear: both; }

div.staticimages {
    display: flex;
    flex-wrap: wrap;
}

div.staticimages img,
div.staticimages svg
{
    flex: 0 1 auto;
    max-width: 20em;
    height: auto;
    min-width: 0;
    margin: .5em;
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.5), 
        0 2px 4px -1px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

div.staticimages img:hover,
div.staticimages svg:hover {
  box-shadow: 
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
}